#loaderWidgetProgress {
  color: #6a7083;
}

#loaderWidget {
  transition: opacity 1s linear;
  height: 64px;
  line-height: 64px;
  width: 230px;
  background: #282c3e;
  border-radius: 16px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  font-size: 16px;
  transition: opacity 0.5s;
}

#loaderWidget.show {
  opacity: 1;
}

#loaderWidget.hide {
  opacity: 0;
}

#loaderWidget.desktop-loaderWidget {
  #loaderWidgetProgress {
    position: absolute;
    top: 14px;
    left: 30px;
  }
  position: absolute;
  right: 0;
}

#loaderWidget.mobile-loaderWidget {
  #loaderWidgetProgress {
    position: absolute;
    top: 14px;
    left: 30px;
  }
  position: fixed;
  bottom: 50px;
  left: 50%;
  margin-left: -115px;
  z-index: 9000;
  box-shadow: 4px 5px 41px 4px rgba(0, 0, 0, 0.75);
}
