apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "claim-backend.fullname" . }}
  labels:
    {{- include "claim-backend.labels" . | nindent 4 }}
data:
  CLAIM_CONTRACT_ADDRESS: {{ .Values.app.claimContractAddress | quote }}
  PROVIDER: {{ .Values.app.provider | quote }}
  COMMUNITY_SITE_API_URL: {{ .Values.app.communitySiteApiUrl | quote }}
  DELEGATION_API_URL: {{ .Values.app.delegationApiUrl | quote }}
  GRAPH_QL_CLAIM_ENDPOINT: {{ .Values.app.indexerGraphQLEndpoint | quote }}
  SERVER_PORT: {{ .Values.app.serverPort | quote }}
  DB_HOST: {{ .Values.app.dbHost | quote }}
  DB_PORT: {{ .Values.app.dbPort | quote }}
  DB_NAME: {{ .Values.app.dbName | quote }}