apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "explorer-frontend.fullname" . }}
  labels:
    {{- include "explorer-frontend.labels" . | nindent 4 }}
data:
  NODE_ENV: {{ .Values.app.environment | quote }}
  MAINNET_API_HOST: {{ .Values.app.mainnetApiHost | quote }}
  TESTNET_API_HOST: {{ .Values.app.testnetApiHost | quote }}
  DEVNET_API_HOST: {{ .Values.app.devnetApiHost | quote }}
  TOKEN_PRICE_API_ENDPOINT: {{ .Values.app.tokenInfoEndpoint | quote }}
  OVERRIDE_RPC_PROVIDER: {{ .Values.app.overrideRpcProvider | quote }}
  OVERRIDE_GRAPHQL: {{ .Values.app.overrideGraphQl | quote }}
  OVERRIDE_API: {{ .Values.app.overrideApi | quote }}