body {
  margin: 0;
  background-color: #151823 !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  text-align: center;

  .cardContainer {
    display: flex;
    margin-bottom: 40px;
  }

  .cardContainer > div {
    margin-left: 24px;
  }

  .cardContainer > div:first-child {
    margin-left: 0;
  }

  &.App-tablet {
    .cardContainer {
      display: grid;
      gap: 24px;
      grid-template-columns: repeat(auto-fit, minmax(320px, max-content));
      justify-content: start;
      align-items: start;
    }

    .cardContainer > div {
      margin-left: 0;
    }
    .cardContainer > div:last-child {
      margin-bottom: 0;
    }
  }

  &.App-mobile {
    .cardContainer {
      display: inherit;
    }

    .cardContainer > div {
      width: 100%;
      margin-left: 0;
      margin-bottom: 24px;
      max-height: fit-content;
    }
    .cardContainer > div:last-child {
      margin-bottom: 0;
    }
  }

  & > .notification {
    margin: 26px 32px 0 32px;
    text-align: left;
  }
}

.dot {
  height: 14px;
  width: 14px;
  background-color: #6a7085;
  border-radius: 50%;
  cursor: pointer;

  &.eligible {
    background-color: #15ac5b;
  }

  &.eligible-inactive {
    background-color: #ffdd00;
  }

  &.not-eligible {
    background-color: #6a7085;
  }
}

.App-Container {
  margin-top: 52px;
  display: flex;
}

.App-Content {
  flex-grow: 1;
  margin-left: 103px;
  margin-right: 125px;
}

.default-link {
  &,
  &:visited,
  &:hover,
  &:active {
    color: #307da9;
    text-decoration: none;
    padding-left: 10px;
  }
}

.reward-card {
  a {
    @extend .default-link;
    padding-left: 0;
    text-decoration: underline;
  }
}

@media only screen and (max-width: 760px) {
  .App-Content {
    margin: 0;
  }

  .App-Page {
    margin: 0 32px;
  }
}

@media only screen and (min-width: 760px) {
  .App-Page {
    position: relative;
  }
}

.smallBtn {
  // background-color: #31364b !important;
  // border: 1px solid #6a7085 !important;
  // border-radius: 4px !important;
  font-size: 12px;
  line-height: 16px;
  min-width: auto;
  margin-left: 9px !important;
  // height: 32px !important;
  padding: 8px 16px !important;
  > * {
    font-size: 0.8125rem !important;
  }
}

#walletModal {
  width: 450px !important;
  padding: 2rem !important;
  text-align: center;

  .marginButton {
    margin: 2% 0;
    height: 52px;
  }

  .greyButton {
    background-color: #31364b;
    color: white;
    border: 0.5px solid rgba(255, 255, 255, 0.3);
  }

  .bubbleButton {
    width: 45%;
    background-color: #282c3e;
    color: white;
    border: 0.5px solid rgba(255, 255, 255, 0.1);
  }
}

#mobile-walletModal {
  width: calc(100% - 64px) !important;
  padding: 24px !important;
  text-align: center;

  .marginButton {
    margin: 2% 0;
    height: 52px;
  }
}

.detailsForm {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .inputContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 3rem;
    align-items: flex-start;
    @media only screen and (max-width: 1270px) {
      flex-direction: column;
    }

    .detailsFormLabel {
      width: 150px;
      margin-right: 15px;
      text-align: left;
      font-weight: 600;
      margin-top: 5px;
    }
    .detailsFormUpdateLabel {
      margin-top: 15px;
    }
    .detailsFormHelper {
      text-align: left;
    }
    .detailsFormInput {
      background-color: unset !important;
      flex: 1;
      width: calc(100% - 150px);
      margin: 0;
      padding: 0 0 5px;
      @media only screen and (max-width: 1270px) {
        width: 100%;
      }
    }

    .detailsDisabledInput {
      margin: 0;
      padding: 0 0 5px;
      width: calc(100% - 150px);
      color: #878ca4;
      border-bottom: 1px solid #878ca4 !important;
      @media only screen and (max-width: 1270px) {
        width: 100%;
      }
      input {
        margin-bottom: 0% !important;
        border: none !important;
        background-color: #151823 !important;
      }
    }

    .detailsFormUpdate {
      display: flex;
      flex-direction: column;
      width: calc(100% - (150px + 200px));
      margin-right: 10px;
      @media only screen and (max-width: 1270px) {
        width: 100%;
        gap: 1rem;
        margin: 0;
      }

      .detailsFormUpdateInput {
        background-color: unset !important;
        flex: 1;
        width: 100%;
      }
    }

    .detailsFormUpdateBtn {
      width: 200px;
      @media only screen and (max-width: 1270px) {
        margin-top: 1rem;
      }
    }
  }
}

#detailsFormButtonsContainer {
  display: flex;
  flex-direction: 'row';
  gap: 14px;

  margin: 24px 0 0;

  button {
    min-width: 200px;
  }

  #grayButton {
    background-color: #31364b;
    color: white;
  }
}
