body {
  margin: 0;
  background-color: #151823 !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  text-align: center;

  .cardContainer {
    display: flex;
    margin-bottom: 40px;
  }

  .cardContainer > div {
    margin-left: 24px;
  }

  .cardContainer > div:first-child {
    margin-left: 0;
  }

  &.App-mobile {
    .cardContainer {
      display: inherit;
    }

    .cardContainer > div {
      width: 100%;
      margin-left: 0;
      margin-bottom: 24px;
      max-height: fit-content;
    }
    .cardContainer > div:last-child {
      margin-bottom: 0;
    }
  }

  &.App-tablet {
    .cardContainer {
      display: inherit;
    }

    .cardContainer > div {
      width: 100%;
      margin-left: 0;
      margin-bottom: 24px;
      max-height: fit-content;
    }
    .cardContainer > div:last-child {
      margin-bottom: 0;
    }
  }

  & > .notification {
    margin: 26px 32px 0 32px;
    text-align: left;
  }
}

.dot {
  height: 14px;
  width: 14px;
  background-color: #6a7085;
  border-radius: 50%;

  &.active {
    background-color: #15ac5b;
  }
}

.App-Container {
  margin-top: 52px;
  display: flex;
}

.App-Content {
  flex-grow: 1;
  margin-left: 103px;
  margin-right: 125px;
}

.default-link {
  &,
  &:visited,
  &:hover,
  &:active {
    color: #307da9;
    text-decoration: none;
    padding-left: 10px;
  }
}

.reward-card {
  a {
    @extend .default-link;
    padding-left: 0;
    text-decoration: underline;
  }
}

@media only screen and (max-width: 760px) {
  .App-Content {
    margin: 0;
  }

  .App-Page {
    margin: 0 32px;
  }
}

@media only screen and (min-width: 760px) {
  .App-Page {
    position: relative;
  }
}

.smallBtn {
  // background-color: #31364b !important;
  // border: 1px solid #6a7085 !important;
  // border-radius: 4px !important;
  font-size: 12px;
  line-height: 16px;
  min-width: auto;
  margin-left: 9px !important;
  height: 32px !important;
  padding: 8px 16px !important;
  > * {
    font-size: 0.8125rem !important;
  }
}
