.updateValidatorForm {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .inputContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 3rem;
    align-items: flex-start;
    @media only screen and (max-width: 1270px) {
      flex-direction: column;
    }

    .updateValidatorLabel,
    .updateValidatorCommissionLabel {
      width: 150px;
      text-align: left;
      font-weight: 600;
      margin-top: 5px;
    }
    .updateValidatorCommissionLabel {
      margin-top: 15px;
    }
    .updateValidatorInput {
      background-color: unset !important;
      flex: 1;
      width: calc(100% - 150px);
      margin: 0;
      padding: 0 0 5px;
      @media only screen and (max-width: 1270px) {
        width: 100%;
      }
    }

    .updateValidatorCommission {
      width: 100%;
      display: flex;
      flex-direction: column;
      width: calc(100% - (150px + 285px));
      margin-right: 10px;
      @media only screen and (max-width: 1270px) {
        width: 100%;
        gap: 1rem;
        margin: 0;
      }

      .updateValidatorCommissionInput {
        background-color: unset !important;
        flex: 1;
        width: 100%;
      }
    }

    .updateValidatorCommissionBtn {
      width: 285px;
      @media only screen and (max-width: 1270px) {
        margin-top: 1rem;
      }
    }
  }
}

#updateValidatorButtonsContainer {
  margin: 24px 0 0;

  button {
    margin-right: 3% !important;
  }

  #grayButton {
    background-color: #31364b;
    color: white;
  }
}
