.file-input {
  font-weight: bold !important;
  color: #878ca4 !important;
  text-decoration: underline !important;
  text-decoration-color: #878ca4 !important;
  text-underline-offset: 0.3rem !important;
}

.file-button-label {
  display: flex;
  align-items: center;
  width: 19.688rem;
}

.bounties-description {
  color: #878ca4 !important;
  margin-left: 3% !important;
  font-weight: bold !important;
}

.bounties-description-container {
  display: flex;
  alignitems: center;
}
