.editNodeScreen {
  .editnodeaddresswrapper {
    text-align: left;
    color: #15ac5b;
    font-size: 16px;
  }
  .editNodeAddress {
    background-color: #282c3e;
    border-radius: 4px;
    padding: 7px 10px;
  }
  .commissionWrapper {
    position: relative;
    margin-top: 50px;
  }
  .commissionUpdate {
    position: absolute;
    bottom: 10px;
    right: 90px;
  }
  .commissionDisplay {
    text-align: left;
    padding-bottom: 5px;
    border-bottom: 1px solid #878ca4;
    display: block;
    width: 65%;
    margin-left: 140px;
  }
  .commissionDisplayPendingChange {
    color: #e96828;
    background-color: #3d2c2c;
    padding: 5px 10px;
    border-radius: 8px;
  }
}

.runnode {
  .nodesTableContainer {
    width: 100%;
    overflow-x: auto;
  }

  .nodesTable {
    color: #ffffff;
    table-layout: fixed;
    width: 100%;
  }

  .tableHeadRow {
    border-bottom: 1px solid #40465f;
  }

  .tableHeadCell {
    color: #878ca4;
    background-color: #1b1e2b;
    border: none;
    height: auto;
    line-height: 16px;
  }

  .tableRow {
    border-bottom: 1px solid #1e2231;
  }

  .tableCell {
    color: #ffffff;
    border: none;
    height: auto;

    .flexCell {
      display: flex;
      justify-content: space-between;
    }
  }

  .statusCell {
    width: 5%;
  }

  .nameCell,
  .yieldCell,
  .commissionCell,
  .rankingCell,
  .rewardsCell {
    width: 10%;
  }

  .availableDelegation,
  .delegationCell {
    text-align: start;
    width: 15%;
  }

  .actionsCell {
    width: 15%;
  }

  .validatorActions {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    button {
      min-width: 120px;
    }
    button:disabled,
    button[disabled] {
      background: #202534;
      border: 1px solid #282c3e;
    }
  }

  @media only screen and (max-width: 1270px) {
    .nodesTableContainer {
      max-width: calc(100vw - 500px);
      min-width: calc(100vw - 500px);
    }

    .nodesTable {
      width: auto;
      table-layout: fixed;
    }

    .statusCell,
    .nameCell,
    .yieldCell,
    .commissionCell,
    .delegationCell,
    .rankingCell,
    .rewardsCell {
      width: auto;
      min-width: 100px !important;
      max-width: 200px;
    }

    .availableDelegation .actionCell {
      width: auto;
      min-width: 200px !important;
      max-width: 300px;
    }
  }

  @media only screen and (max-width: 760px) {
    .nodesTableContainer {
      max-width: calc(100vw - 90px);
      min-width: calc(100vw - 90px);
    }
  }

  .tableSection {
    text-align: center;
  }
  .commissionDisplayPendingChange {
    color: #e96828;
    background-color: #3d2c2c;
    padding: 5px 10px;
    border-radius: 8px;
  }

  .runnode-content {
    text-align: left;

    .profileTitle {
      font-weight: bold;
    }

    .profileSubtitle {
      margin-top: 20px;
      text-transform: uppercase;
      font-size: 14px;
      color: #888ea2;
      font-weight: bold;
    }

    .notification {
      margin-bottom: 40px;
    }

    .box {
      position: relative;
      background-color: #151823;
      border: 2px solid #31364b;
      border-radius: 4px;
      max-width: 1008px;
      margin-top: 38px;
      box-sizing: border-box;
      padding: 14px 24px 40px 24px;

      .box-title {
        font-family: 'Poppins';
        font-weight: bold;
        font-size: 22px;
        margin-bottom: 0;
      }

      .box-pagination {
        position: absolute;
        top: 32px;
        right: 32px;
      }

      .box-list {
        display: flex;
        margin-top: 24px;
        margin-bottom: 40px;

        .box-list-col {
          flex: 1;
          margin-right: 40px;

          & > div {
            display: flex;
            min-height: 24px;
            align-items: center;
            margin-bottom: 12px;

            button {
              display: none;
            }
          }

          & > div:last-child {
            margin-bottom: 0;
          }

          & > div:hover {
            button {
              display: block;
            }
          }

          .status {
            display: flex;
            padding-right: 10px;
          }

          .address {
            flex: 1;
          }
        }

        & > .box-list-col:last-child {
          margin-right: 0;
        }
      }
    }

    .referenceButton {
      background: #31364b;
      border: 1px solid #6a7085;
      box-sizing: border-box;
      border-radius: 4px;
      color: white;
      width: 35%;
      margin-right: 24px;
      margin-top: 24px;
    }
  }

  .noProfile {
    text-align: center;
    padding: 40px 0 32px;
  }
  .marginButton {
    margin-top: 16px;
    width: 250px;
  }
  .nodeProfile {
    & > div {
      display: flex;
    }

    a {
      color: #48bdff;
    }

    .nodeProfileInfo {
      flex: 1 0 auto;
    }

    .nodeProfileNodesInfo {
      flex: 0 1 auto;

      .referenceButton {
        width: 100%;
      }
    }

    .userNodeInfo {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      gap: 11px 11px;

      .boxLegend {
        width: 150px;
        font-family: 'Inter';
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        color: #ffffff;
      }
    }

    .userNameIcon {
      display: flex;
      align-items: center;

      svg {
        border-radius: 50%;
      }

      .profileTitle {
        margin-left: 24px;
      }
    }
  }
  .nodeTypes {
    height: 60px;
    margin: 25px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media only screen and (max-width: 1400px) {
      height: 120px;
      gap: 1rem;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      .nodeTitleContainer {
        button.nodeTypeTab {
          margin-left: 15px;
        }
      }
    }

    .nodeTitleContainer {
      display: flex;
      justify-content: space-between;
      align-items: center;

      svg {
        width: 15px;
        height: 15px;
      }
      h6 {
        margin-left: 10px;
        margin-right: 15px;
      }

      button.nodeTypeTab {
        border-radius: 32px;
        margin-left: 10px;
        background: #31364b;
        color: #fff;
        width: 178px;
        height: 40px;
      }
      button.nodeTypeTab.active {
        background: #15ac5b;
      }
    }
  }
}

.App {
  &.App-mobile {
    .runnode {
      .runnode-content {
        .box {
          width: 100%;
          margin-top: 0;
          margin-bottom: 24px;

          .box-pagination {
            position: inherit;
            top: auto;
            right: auto;
            margin-top: 24px;
            justify-content: flex-end;
          }

          .box-list {
            display: inherit;

            .box-list-col {
              flex: 1;
              margin-right: 0;

              & > div {
                button {
                  display: block;
                }
              }
            }
          }

          & > .referenceButton {
            width: 100%;
            margin-right: 0;
          }

          & > .referenceButton:first-child {
            margin-top: 0;
          }
        }
      }
    }
  }
}

.delegateNodeModalSuccess {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loadingIcon {
  margin-top: 1rem;
}

.referenceContainer {
  width: 95% !important;
  margin-bottom: 5%;
  box-sizing: border-box;
  border-radius: 4px;

  #referenceText {
    margin: 2% 0 0 2%;
  }

  .bottomReferencesButtonContainer {
    margin-bottom: 5%;
  }
}

.mobileReferenceContainer {
  background-color: #151823;
  border: 2px solid #31364b;
  width: 95% !important;

  margin-bottom: 5%;
  box-sizing: border-box;
  border-radius: 4px;

  #referenceText {
    margin: 2% 0 0 2%;
  }

  #mobileReferenceText {
    margin: 2% 0 0 10%;
  }

  .bottomReferencesButtonContainer {
    margin-bottom: 5%;
  }

  .referenceButton {
    background: #31364b;
    border: 1px solid #6a7085;
    box-sizing: border-box;
    border-radius: 4px;
    color: white;
    width: 35%;
    margin-left: 10%;
    margin-top: 5%;
  }
}

.node-control-button {
  margin: 0 5% 5% 5% !important;
}

#signinModal {
  & > div {
    & > .node-control-reference-button {
      margin-bottom: 16px;
    }
    & > .node-control-reference-button:last-child {
      margin-bottom: 0;
    }
  }
}

.node-control-reference-button {
  background: #31364b !important;
  border: 1px solid #6a7085 !important;
  box-sizing: border-box !important;
  border-radius: 4px !important;
  color: white !important;
}

@media only screen and (min-width: 760px) {
}
