.bounties {
  .bounties-content {
    text-align: left;

    .locale {
      margin: 14px 0;

      & > button {
        margin-right: 8px;
      }
    }

    .list-header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 32px;

      .list-header-left {
        display: flex;
      }
    }

    .legend {
      display: inline-flex;
      align-items: center;
      background-color: #282c3e;
      border-radius: 40px;
      padding: 10px 20px;

      svg,
      span {
        margin-right: 12px;
      }
    }

    .reward-card-info {
      ul,
      ol {
        display: flex;
        flex-wrap: wrap;
        li {
          &,
          & a {
            width: 100%;
            word-break: break-all;
          }
        }
      }
    }

    .cardContainer.regular {
      display: grid;
      grid-template-columns: repeat(3, minmax(0, 1fr));
      grid-column-gap: 24px;
      margin-bottom: 24px;
      .reward-card {
        margin-left: 0;
        .reward-card-content {
          height: 100%;
        }
        .reward-card-main {
          height: 100%;
          align-content: space-between;
          flex-direction: column;
          .reward-card-info {
            & > div {
              display: block;
              margin-bottom: 10px;
              & > div {
                margin-bottom: 12px;
              }
              & > div:last-child {
                margin-bottom: 0;
              }
            }
          }
          .reward-card-action {
            width: auto;
          }
        }
      }
    }

    .submission-table {
      .submission-table-header,
      .submission-row {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      .submission-table-header {
        margin-bottom: 24px;

        h5 {
          font-family: Inter;
          font-size: 14px;
          line-height: 26px;
          font-weight: bold;
          letter-spacing: -0.03em;
          color: #6a7085;
        }
      }
      .submission-row {
        height: 32px;
        margin-bottom: 16px;
        .submission-row-username {
          display: flex;
          flex: 1;
          align-items: center;
          .submission-row-username-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 24px;
            height: 24px;
            margin-right: 16px;
          }
        }
        .submission-row-content {
          padding: 0 5px;
          flex: 2;
          text-align: left;

          @media screen and (min-width: 1700px) {
            p {
              display: none;
            }
            p.wide-hash {
              display: block;
            }
          }
          @media screen and (max-width: 1699px) {
            p {
              display: block;
            }
            p.wide-hash {
              display: none;
            }
          }
        }
        .submission-row-date {
          text-align: right;
          p {
            color: #6a7085;
            font-size: 14px;
            line-height: 22px;
          }
        }
      }
    }

    .bounties-details {
      .title {
        span.dot {
          width: 15px;
          height: 15px;
          display: inline-block;
          margin-right: 10px;
          border-radius: 50%;
        }
      }
      .subtitle {
        margin-top: 32px;
        margin-bottom: 32px;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        display: flex;
        align-items: center;
        letter-spacing: -0.015em;
        color: #878ca4;
        svg {
          margin-right: 8px;
        }
      }
      .input {
        margin-bottom: 32px;
      }
    }
  }
}

@media only screen and (max-width: 760px) {
  .bounties {
    .bounties-content {
      .list-header {
        display: block;

        .list-header-left {
          margin-bottom: 32px;
        }
      }

      .cardContainer.regular {
        display: block;
      }

      .reward-card {
        .reward-card-main {
          display: block;

          .reward-card-info {
            margin-right: 0;
            & > div {
              display: block;
              margin-bottom: 10px;

              & > div {
                margin-bottom: 12px;
              }

              & > div:last-child {
                margin-bottom: 0;
              }
            }
          }

          .reward-card-action {
            width: auto;
          }
        }
      }
    }
  }
}
