.bounties {
  .bounties-content {
    text-align: left;

    .locale {
      margin: 14px 0;

      & > button {
        margin-right: 8px;
      }
    }

    .list-header {
      display: flex;
      margin-bottom: 32px;
    }

    .legend {
      display: inline-flex;
      align-items: center;
      background-color: #282c3e;
      border-radius: 40px;
      padding: 10px 20px;

      svg,
      span {
        margin-right: 12px;
      }
    }

    .reward-card-info {
      ul,
      ol {
        display: flex;
        flex-wrap: wrap;
        li {
          &,
          & a {
            width: 100%;
            word-break: break-all;
          }
        }
      }
    }

    .cardContainer.regular {
      display: grid;
      grid-template-columns: repeat(3, minmax(0, 1fr));
      grid-column-gap: 24px;
      margin-bottom: 24px;
      .reward-card {
        margin-left: 0;
        .reward-card-content {
          height: 100%;
        }
        .reward-card-main {
          height: 100%;
          align-content: space-between;
          flex-direction: column;
          .reward-card-info {
            & > div {
              display: block;
              margin-bottom: 10px;
              & > div {
                margin-bottom: 12px;
              }
              & > div:last-child {
                margin-bottom: 0;
              }
            }
          }
          .reward-card-action {
            width: auto;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 760px) {
  .bounties {
    .bounties-content {
      .list-header {
        display: block;
      }

      .cardContainer.regular {
        display: block;
      }

      .reward-card {
        .reward-card-main {
          display: block;

          .reward-card-info {
            margin-right: 0;
            & > div {
              display: block;
              margin-bottom: 10px;

              & > div {
                margin-bottom: 12px;
              }

              & > div:last-child {
                margin-bottom: 0;
              }
            }
          }

          .reward-card-action {
            width: auto;
          }
        }
      }
    }
  }
}
