body {
  background-color: #151823 !important;
}

.bounties {
  display: flex;
}

.mobile-bounties {
  width: 90% !important;
  display: flex;
  height: auto;
}

.bounties-content {
  text-align: left;
  width: 100%;
  h5 {
    font-weight: bold;
  }
}

.icon-title-container {
  display: -webkit-box !important;
  width: max-content !important;
  margin-bottom: 2% !important;
  background-color: #282c3e;
  border-radius: 40px;
  padding: 1% 3% 1% 3%;
}

.mobile-icon-title-container {
  display: -webkit-box !important;
  width: max-content !important;
  margin: 5% 0 !important;
  background-color: #282c3e;
  border-radius: 40px;
  padding: 3% 8% 3% 8%;
}

.icon-title {
  margin-left: 8% !important;
}

.bounties-green-stripe {
  border-left: 3px solid #15ac5b;
  padding-left: 2%;
  width: 100%;
}

.bounties-red-stripe {
  border-left: 3px solid #ff515a;
  padding-left: 2%;
  width: 100%;
}

.chip {
  margin-right: 3% !important;
  color: white !important;
  background-color: #282c3e !important;
}

.chipSelected {
  margin-right: 3% !important;
  color: white !important;
  background-color: #15ac5b !important;
}

.whiteInput {
  input {
    color: rgba(255, 255, 255, 1) !important;
  }
  div {
    width: 95% !important;
    margin-left: 2% !important;
  }

  fieldset {
    border-color: white !important;
  }
}

#bountiesSwitch {
  margin-left: 1% !important;
  margin-bottom: 2% !important;
}

.dot {
  height: 15px;
  width: 15px;
  background-color: #15ac5b;
  border-radius: 50%;
  display: inline-block;
  margin-top: 2%;
}
