apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "community.frontend.fullname" . }}
  labels:
    {{- include "community.frontend.labels" . | nindent 4 }}
spec:
{{- if not .Values.frontend.autoscaling.enabled }}
  replicas: {{ .Values.frontend.replicaCount }}
{{- end }}
  selector:
    matchLabels:
      {{- include "community.frontend.selectorLabels" . | nindent 6 }}
  template:
    metadata:
    {{- with .Values.frontend.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
    {{- end }}
      labels:
        {{- include "community.frontend.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.frontend.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "community.frontend.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.frontend.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.frontend.securityContext | nindent 12 }}
          image: "{{ .Values.frontend.image.repository }}:{{ .Values.frontend.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.frontend.image.pullPolicy }}
          env:
            - name: API_HOST
              value: {{ .Values.frontend.apiHost | quote }}
            - name: DELEGATION_API_HOST
              value: {{ .Values.frontend.delegationApiHost | quote }}
            - name: API_CLAIM_HOST
              value: {{ .Values.frontend.apiClaimHost | quote }}
            - name: API_TARAXA_HOST
              value: {{ .Values.frontend.apiTaraxaHost | quote }}
            - name: TARA_ADDRESS
              value: {{ .Values.frontend.taraAddress | quote }}
            - name: CLAIM_ADDRESS
              value: {{ .Values.frontend.claimAddress | quote }}
            - name: STAKING_ADDRESS
              value: {{ .Values.frontend.stakingAddress | quote }}
          ports:
            - name: http
              containerPort: 80
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /
              port: http
            initialDelaySeconds: 10
            periodSeconds: 10
            timeoutSeconds: 5
          readinessProbe:
            httpGet:
              path: /
              port: http
            initialDelaySeconds: 10
            periodSeconds: 10
            timeoutSeconds: 5
          resources:
            {{- toYaml .Values.frontend.resources | nindent 12 }}
      {{- with .Values.frontend.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.frontend.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.frontend.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
