{{- $secret := (lookup "v1" "Secret" .Release.Namespace .Release.Name) -}}
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}
  labels:
    {{- include "community.labels" . | nindent 4 }}
type: Opaque
data:
{{ if $secret }}
  {{- range $key, $value := $secret.data }}
  {{ $key }}: {{ $value }}
  {{- end }}
{{ else }}
  auth: {{ .Values.ingress.auth.secret | quote }}
  QUEUE_PASS: {{ .Values.app.queuePass | quote }}
{{- end }}