.wallet {
  display: flex;
}

.wallet-mobile {
  display: flex;
}

.wallet-content {
  text-align: left;
}

.toggleButton {
  margin: 5% 0 5% 0;
}

.wallet-green-stripe {
  border-left: 3px solid #15ac5b;
  padding-left: 2%;
  width: 100%;
}

.wallet-red-stripe {
  border-left: 3px solid #ff515a;
  padding-left: 2%;
  width: 100%;
}

.referenceContainer {
  background-color: #151823;
  border: 2px solid #31364b;
  width: 87%;
  margin-bottom: 5%;
  box-sizing: border-box;
  border-radius: 4px;

  #referenceText {
    margin: 2% 0 0 2%;
  }

  .bottomReferencesButtonContainer {
    margin-bottom: 5%;
  }

  .referenceButton {
    background: #31364b;
    border: 1px solid #6a7085;
    box-sizing: border-box;
    border-radius: 4px;
    color: white;
    width: 35%;
    margin-left: 10%;
    margin-top: 5%;
  }
}