APP_PREFIX=
# --- Port used by backend to run the server --- #
SERVER_PORT=3040
REORG_THRESHOLD=100
# --- DATABASE --- #
DB_HOST=localhost
DB_PORT=5432
DB_USER=root
DB_PASSWORD=root
DB_NAME=explorer_indexer

# --- ENABLE REDIS PRODUCERS --- #
ENABLE_PRODUCER_MODULE=true
# --- REDIS --- #
QUEUE_HOST=localhost
QUEUE_PORT=6379
QUEUE_PASS=
REDIS_PBFT_QUEUE_NAME=new_pbfts
REDIS_DAG_QUEUE_NAME=new_dags

# --- WS ENDPOINT --- #
NODE_WS_ENDPOINT=ws://127.0.01:8777
WS_RECONNECT_INTERVAL=3000
# --- RPC ENDPOINT --- #
NODE_RPC_ENDPOINT=https://rpc.devnet.taraxa.io/
# --- GQL ENDPOINT --- #
NODE_GRAPHQL_ENDPOINT=https://graphql.devnet.taraxa.io/ 