.profile,
.mobile-profile {
  display: flex;

  .page-title {
    margin-bottom: 24px;
  }

  .profile-content {
    text-align: left;
    flex: 1;
  }
}

.flexExpand {
  flex: 1 0 auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  & > .lockedPointsCheckbox {
    color: #878ca4;
    font-size: 14px;
    line-height: 22px;
    padding-right: 9px;
  }
}

.chip {
  margin-right: 3% !important;
  color: white !important;
  background-color: #282c3e !important;
}

.chipSelected {
  margin-right: 3% !important;
  color: white !important;
  background-color: #15ac5b !important;
}

.noContent {
  margin-top: 30% !important;
}

.contentGrid {
  display: grid;
  grid-template-columns: 65% 35%;
  margin-top: 24px !important;

  .gridLeft {
    grid-column: 1;
  }

  .gridRight {
    grid-column: 2;
  }

  .profileContentTitle {
    margin-bottom: 10% !important;
  }
}


