.nicknameWrapper {
  display: flex;
  align-items: center;

  div {
    display: flex;
    border-radius: 50%;
    margin-right: 24px;

    svg {
      border-radius: 50%;
    }
  }

  .nicknameContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .nicknameText-small {
      font-size: 12px;
    }
    .nicknameText-medium {
      font-size: 14px;
    }
    .nicknameText-large {
      font-weight: bold;
      font-size: 22px;
      line-height: 33px;
    }
  }
}
