.delegateNodeModal {
  .claimContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .taraContainerAmountDescription {
      font-size: medium;
    }
  }
  .nodeDescriptor {
    text-align: center;
  }
  .nodeDescriptorSuccess {
    margin: 20px 0 40px 0;
  }

  .flexTitle {
    display: flex;
    justify-content: center;
    align-items: center;

    & > div {
      display: flex;
      justify-content: center;
      align-items: center;

      svg {
        border-radius: 50%;
      }
    }
  }

  .nodeName {
    margin: 0 0 0 16px;
    font-weight: bold;
    font-size: 20px;
  }
  .nodeAddressWrapper {
    color: #15ac5b;
    margin-bottom: 25px;
  }
  .nodeAddress {
    background-color: #31364b;
    border-radius: 4px;
    padding: 7px 10px;
    font-size: 14px;
  }
  .taraContainer {
    float: left;
    max-width: 200px;
  }
  .taraContainerAmountDescription {
    text-align: left;
    font-size: 12px;
    margin-top: 0;
  }
  .taraContainerBalance {
    margin-right: 12px;
  }
  .taraContainerWrapper {
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  .taraContainerAmount {
    text-align: left;
    background-color: #31364b;
    border: 1px solid #4f5368;
    border-radius: 4px;
    letter-spacing: -0.02em;
  }
  .taraContainerAmountTotal {
    margin: 10px 0 0 10px;
    font-size: 22px;
    font-weight: 700;
  }
  .taraContainerUnit {
    margin: 5px 0 10px 10px;
    color: #878ca4;
    text-align: left;
    font-size: 12px;
  }
  .taraInputWrapper {
    width: 312px;
    padding: 20px;
    border: 1px solid #15ac5b;
    border-radius: 6px;
    margin: 28px auto 0 auto;

    text-align: center;
  }
  .maxDelegatableDescription {
    margin: 0px 0 26px 0;
    font-size: 14px;
  }
  .maxDelegatableTotal {
    font-weight: bold;
    font-size: 36px;
    margin: 2px 0;
    word-break: break-all;
  }
  .maxDelegatableUnit {
    font-size: 16px;
    color: #878ca4;
    margin: 0;
  }
  .delegatePercentWrapper {
    margin: 14px 0 22px 0;
  }
  .delegatePercent {
    color: #fff;
    background: #40465f;
    border-radius: 20px;
    font-size: 14px;
    margin-right: 5px;
    line-height: 17px;
    text-align: center;
    padding: 0;
    width: 60px;
    min-width: 60px;
    height: 24px;
  }
  .successIcon {
    margin: 30px 0;
  }
  .successText {
    color: #878ca4;
  }
}

.delegateNodeModalSuccess {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.delegationCardContainer {
  margin-bottom: 40px;
  display: grid;
  justify-content: start;
  grid-template-columns: repeat(auto-fill, minmax(294px, max-content));
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}

.loadingIcon,
.walletSVG {
  margin-top: 1rem;
}

.walletSVG svg {
  width: 30px;
  height: 30px;
}

#delegateModal {
  @media only screen and (max-width: 476px) {
    max-width: 95%;
  }
}

a.commissionChangeCheck {
  color: #48bdff;
  text-decoration: none;
}

.runnode {
  .userValidator td {
    background-color: #272c40;
  }

  .userValidator td:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }

  .userValidator td:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  .fullyDelegatedSeparator {
    display: flex;
    align-items: center;
    text-align: center;
    color: #15ac5b;
  }

  .fullyDelegatedSeparator::before,
  .fullyDelegatedSeparator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #15ac5b;
  }

  .fullyDelegatedSeparator::before {
    margin-right: 30px;
  }

  .fullyDelegatedSeparator::after {
    margin-left: 30px;
  }

  .flexDiv {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center;

    @media only screen and (max-width: 1421px) {
      flex-direction: column;
      justify-content: start;
      align-items: start;
      gap: 1rem;
    }

    .trophyLegend {
      padding: 0 0 16px 0 !important;
      font-size: 12px;
      border: 1px solid #282c3e;
      background-color: #181b27 !important;
      border-radius: 8px;

      div {
        display: flex;
        align-items: center;

        svg {
          margin-right: 15px;
        }
      }
    }
  }

  .runnode-content {
    text-align: left;

    .notification {
      margin-bottom: 40px;
      > div > div > p {
        word-break: break-word;
      }
    }

    .box {
      position: relative;
      background-color: #151823;
      border: 2px solid #31364b;
      border-radius: 4px;
      max-width: 1008px;
      margin-top: 38px;
      box-sizing: border-box;
      padding: 14px 24px 40px 24px;

      .box-title {
        font-family: 'Poppins';
        font-weight: bold;
        font-size: 22px;
        margin-bottom: 0;
      }

      .box-pagination {
        position: absolute;
        top: 32px;
        right: 32px;
      }

      .box-list {
        display: flex;
        margin-top: 24px;
        margin-bottom: 40px;

        .box-list-col {
          flex: 1;
          margin-right: 40px;

          & > div {
            display: flex;
            min-height: 24px;
            align-items: center;
            margin-bottom: 12px;

            button {
              display: none;
            }
          }

          & > div:last-child {
            margin-bottom: 0;
          }

          & > div:hover {
            button {
              display: block;
            }
          }

          .status {
            display: flex;
            padding-right: 10px;
          }

          .address {
            flex: 1;
          }
        }

        & > .box-list-col:last-child {
          margin-right: 0;
        }
      }
    }

    .referenceButton {
      background: #31364b;
      border: 1px solid #6a7085;
      box-sizing: border-box;
      border-radius: 4px;
      color: white;
      width: 35%;
      margin-right: 24px;
      margin-top: 24px;
    }
  }

  .noProfile {
    text-align: center;
  }

  .nodeProfile {
    a {
      color: #48bdff;
    }
  }

  .validatorsTableContainer {
    width: 100%;
    overflow-x: auto;
    margin-bottom: 1rem;
  }

  .validatorsTable {
    color: #ffffff;
    table-layout: fixed;
    width: 100%;
  }

  .tableCellGrey {
    color: #4f5368 !important;
    border: none;
    height: auto;
    border-bottom: 1px solid #1e2231 !important;
  }

  .noOverflow {
    text-overflow: initial;
    white-space: normal;
  }

  .tableSection {
    text-align: center;
  }

  .statusCell {
    width: 90px;
    @extend .noOverflow;
  }

  .nameCell {
    width: 450px;
    padding: 10px 6px !important;
    @extend .noOverflow;
  }

  .nodeActionsCell {
    width: 15%;
    text-overflow: initial;
    @extend .noOverflow;
  }

  .rankingCell,
  .pbftsCell,
  .rewardsCell {
    width: 100px;
    line-height: 16px;
    @extend .noOverflow;
  }

  .yieldCell {
    width: 120px;
    line-height: 16px;
    @extend .noOverflow;
  }

  .commissionCell {
    text-align: start;
    width: 130px;
    @extend .noOverflow;
  }

  .availableDelegation,
  .delegationCell {
    line-height: 16px;
    vertical-align: middle;
    text-align: start;
    padding: 10px 6px !important;
    width: 130px;
    overflow-wrap: anywhere;
  }

  .availableDelegationHead {
    @extend .noOverflow;
  }

  .delegationCell {
    font-weight: bold;
  }

  .actionsCell {
    width: 150px;
    @extend .noOverflow;
  }

  .commissionCell {
    @extend .noOverflow;
    .commissionDisplayPendingChangeWrapper {
      position: relative;
      padding-left: 30px;

      svg {
        position: absolute;
        top: 0;
        left: 0;
      }

      .commissionDisplayPendingChange {
        color: #e96828;
        background-color: #3d2c2c;
        padding: 5px 10px;
        border-radius: 8px;
      }
    }
  }

  .availableDelegationActionsCell {
    width: 25%;

    .validatorActions {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: wrap;
      gap: 10px;
      button {
        min-width: 120px;
      }
      button:disabled,
      button[disabled] {
        background: #202534;
        border: 1px solid #282c3e;
      }
    }
  }

  @media only screen and (max-width: 1620px) {
    .validatorsTableContainer {
      max-width: calc(100vw - 500px);
      min-width: calc(100vw - 500px);
    }

    .validatorsTable {
      width: auto;
      table-layout: fixed;
    }

    .yieldCell,
    .commissionCell,
    .delegationCell,
    .rankingCell,
    .rewardsCell {
      width: auto;
      min-width: 100px !important;
      max-width: 200px;
    }

    .availableDelegation,
    .availableDelegationActionsCell {
      width: auto;
      min-width: 200px !important;
      max-width: 200px;
    }
  }

  @media only screen and (max-width: 760px) {
    .validatorsTableContainer {
      max-width: calc(100vw - 90px);
      min-width: calc(100vw - 90px);
    }
  }

  .dashSortIcon {
    font-size: 18px;
    margin-right: 4px;
    margin-left: 4px;
  }
}

.delegateBtn {
  margin-left: 20px;
  margin-right: 20px;
}

.App {
  &.App-mobile {
    .runnode {
      .runnode-content {
        .box {
          width: 100%;
          margin-top: 0;
          margin-bottom: 24px;

          .box-pagination {
            position: inherit;
            top: auto;
            right: auto;
            margin-top: 24px;
            justify-content: flex-end;
          }

          .box-list {
            display: inherit;

            .box-list-col {
              flex: 1;
              margin-right: 0;

              & > div {
                button {
                  display: block;
                }
              }
            }
          }

          & > .referenceButton {
            width: 100%;
            margin-right: 0;
          }

          & > .referenceButton:first-child {
            margin-top: 0;
          }
        }
      }
    }
  }
}

.referenceContainer {
  width: 95% !important;
  margin-bottom: 5%;
  box-sizing: border-box;
  border-radius: 4px;

  #referenceText {
    margin: 2% 0 0 2%;
  }

  .bottomReferencesButtonContainer {
    margin-bottom: 5%;
  }
}

.mobileReferenceContainer {
  background-color: #151823;
  border: 2px solid #31364b;
  width: 95% !important;

  margin-bottom: 5%;
  box-sizing: border-box;
  border-radius: 4px;

  #referenceText {
    margin: 2% 0 0 2%;
  }

  #mobileReferenceText {
    margin: 2% 0 0 10%;
  }

  .bottomReferencesButtonContainer {
    margin-bottom: 5%;
  }

  .referenceButton {
    background: #31364b;
    border: 1px solid #6a7085;
    box-sizing: border-box;
    border-radius: 4px;
    color: white;
    width: 35%;
    margin-left: 10%;
    margin-top: 5%;
  }
}

.node-control-button {
  margin: 0 5% 5% 5% !important;
}

#signinModal {
  & > div {
    & > .node-control-reference-button {
      margin-bottom: 16px;
    }
    & > .node-control-reference-button:last-child {
      margin-bottom: 0;
    }
  }
}

.node-control-reference-button {
  background: #31364b !important;
  border: 1px solid #6a7085 !important;
  box-sizing: border-box !important;
  border-radius: 4px !important;
  color: white !important;
}

.skeleton {
  background-color: #4f5368 !important;
}

.redelegation-notice {
  position: fixed;
  z-index: 10000;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  margin: 0 auto;
  background-color: #ee8f00;
  .notice-container {
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media only screen and (max-width: 1003px) {
      flex-direction: column;
      gap: 1rem;
      align-items: flex-start;
    }
  }
}

.redelegation-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}
