.nodeInfoWrapper {
  background: #202534;
  border: 1px solid #31364b;
  border-radius: 4px;
  padding: 32px 24px;

  .nodeInfoFlex {
    flex: 1 0 auto;
    display: flex;
    text-align: left;

    @media only screen and (max-width: 1400px) {
      flex-direction: column;
    }

    .nodeTitle {
      display: flex;
      align-items: center;
      font-family: Poppins;
      font-style: normal;
      font-weight: bold;
      font-size: 22px;
      line-height: 33px;
      margin-bottom: 24px;
      word-break: break-all;

      div {
        display: flex;
        border-radius: 50%;
        margin-right: 24px;

        svg {
          border-radius: 50%;
        }
      }
    }

    .nodeAddress {
      padding: 4px 10px;
      background: #31364b;
      border-radius: 4px;
      font-family: Inter;
      font-size: 14px;
      line-height: 22px;
      display: inline-block;
      letter-spacing: -0.03em;
      color: #15ac5b;
      margin-bottom: 6px;

      @media only screen and (max-width: 476px) {
        width: 100%;
        word-break: break-all;
      }
    }

    .nodeInfoTitle {
      margin: 18px 0 12px;
      font-family: Inter;
      font-weight: bold;
      font-size: 14px;
      line-height: 17px;
      display: flex;
      align-items: center;
      text-transform: uppercase;

      /* grey/100 */
      color: #6a7085;
    }

    .nodeInfoContent {
      /* normal text (inter)/h3 */
      font-family: Inter;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;

      /* identical to box height, or 150% */

      /* neutral/000 */
      text-align: left;
      color: #ffffff;

      a,
      a:active {
        color: #48bdff;
      }
    }
  }

  .nodeDelegationColumn {
    flex: 1 0 auto;
    display: flex;
    align-items: flex-end;
    flex-direction: column;

    @media only screen and (max-width: 1400px) {
      align-items: start;
      margin-top: 1rem;
    }

    .taraContainer:first-child {
      margin-right: 16px;
    }

    .taraContainerWrapper {
      display: flex;
      flex-direction: row;

      @media only screen and (max-width: 476px) {
        flex-direction: column;
        gap: 1rem;
      }

      .taraContainerAmountDescription {
        margin-top: 15px;
        font-family: Inter;
        font-size: 12px;
        line-height: 22px;

        /* or 183% */
        display: flex;
        align-items: center;
        letter-spacing: -0.03em;

        /* neutral/000 */
        color: #ffffff;
      }
    }

    .nodeDelegationSplit {
      background: #31364b;
      /* grey/200 */
      border: 1px solid #4f5368;
      box-sizing: border-box;
      border-radius: 4px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 16px;
      margin-top: 19px;
      width: 316px;

      @media only screen and (max-width: 476px) {
        width: 100%;
      }

      .barFlex {
        display: flex;
        flex-direction: row;
        margin-bottom: 4px;
      }

      .percentageAmount {
        display: flex;
        flex-direction: column;

        .barPercentage {
          height: 10px;
          width: 100%;
        }
      }

      .percentageAmount:first-child {
        .barPercentage {
          border-top-left-radius: 2px;
          border-bottom-left-radius: 2px;
        }
      }

      .percentageAmount:last-child {
        .barPercentage {
          border-top-right-radius: 2px;
          border-bottom-right-radius: 2px;
        }
      }

      .percentagesBar {
        font-family: Inter;
        font-size: 10px;
        margin-bottom: 3px;
        display: flex;
        justify-content: space-between;
        color: #8e8e8e;
        letter-spacing: -0.02em;
        border-top: 1px solid #8e8e8e;

        span::before {
          content: '';
          display: block;
          position: relative;
          left: 50%;
          height: 3px;
          width: 1px;
          background-color: #8e8e8e;
          margin-top: -1px;
        }

        span:first-child:before {
          left: 0%;
        }

        span:last-child:before {
          left: 100%;
        }
      }

      .percentageLegends {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .percentageLegend {
          flex: 1 0 50%;
          font-family: Inter;
          font-size: 10px;
          line-height: 22px;

          /* or 220% */
          display: flex;
          align-items: center;
          letter-spacing: -0.03em;

          .legendColor {
            height: 12px;
            width: 12px;
            border-radius: 4px;
            margin-right: 8px;
          }
        }
      }
    }

    .delegationButtons {
      margin-top: 30px;
      width: 316px;
      display: flex;
      flex-direction: column;

      @media only screen and (max-width: 476px) {
        width: 100%;
      }

      button:first-child {
        margin-bottom: 12px;
      }
    }
  }

  .nodeInfoDivider {
    padding: 0;
    margin-top: 24px;
    border: 1px solid #31364b;
    margin-bottom: 16px;
  }

  .delegatorsHeader {
    display: flex;

    .delegatorsLegend {
      flex: 0 1 auto;
      font-family: Inter;
      font-weight: bold;
      font-size: 14px;
      line-height: 17px;
      text-transform: uppercase;
      margin-right: 16px;
      display: flex;
      align-items: center;

      /* grey/100 */
      color: #6a7085;
    }

    .showOwnDelegation {
      /* normal text (inter)/h4 */
      flex: 0 1 auto;
      font-family: Inter;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 22px;

      /* or 157% */
      display: flex;
      align-items: center;
      letter-spacing: -0.03em;

      /* grey/50 */
      color: #878ca4;
    }

    .delegatorsPagination {
      flex: 1 0 auto;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      /* normal text (inter)/h4 */
      font-family: Inter;
      font-size: 14px;
      line-height: 22px;
      letter-spacing: -0.03em;

      /* neutral/000 */
      color: #ffffff;

      .paginationButton {
        min-width: 0;
        min-height: 0;
        height: 40px;
        width: 48px;
        background: #282c3e;

        /* grey/300 */
        border: 1px solid #40465f;
        box-sizing: border-box;
        border-radius: 4px;
        padding: 0;
        margin-left: 8px;
      }
    }
  }

  .tableHeader {
    /* normal text (inter)/h4 */
    margin-top: 24px;
    font-family: Inter;
    font-size: 14px;
    line-height: 22px;

    /* or 157% */
    display: flex;
    align-items: center;
    justify-content: space-between;
    letter-spacing: -0.03em;

    /* grey/100 */
    color: #6a7085;
  }

  .delegators {
    display: flex;
    flex-direction: column;

    .delegatorRow {
      @media only screen and (max-width: px) {
        margin-right: 5rem;
      }
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-top: 2px;

      .address {
        span {
          margin-right: 16px;
        }
      }

      .address,
      .amount {
        display: flex;
        align-items: center;
        flex: 0 1 auto;
        /* normal text (inter)/h4 */
        font-family: Inter;
        font-size: 14px;
        line-height: 22px;

        letter-spacing: -0.03em;

        /* neutral/000 */
        color: #ffffff;
      }

      .amount {
        @media only screen and (min-width: 1290px) {
          margin-right: 5rem;
        }
      }

      .badges {
        display: flex;
        flex: 1 0 auto;
        align-items: center;
        margin-left: 7px;

        .selfStake,
        .ownStake {
          flex: 0 1 auto;
          padding: 5px 6px;
          border-radius: 4px;
          font-family: Inter;
          font-weight: 500;
          font-size: 14px;
          letter-spacing: -0.03em;
        }

        .selfStake {
          background: #40465f;
          color: #878ca4;
        }

        .ownStake {
          background: #15ac5b;
          color: #ffffff;
        }
      }
    }

    .commissionRow {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-top: 2px;
      justify-content: space-between;
    }
  }
}
