.stakingRoot,
.stakingRootMobile {
  text-align: left;

  .notification {
    margin-bottom: 40px;
  }
}

.staking-success-container {
  border: 1px solid #05cf69;
  padding: 5%;
  margin-top: 5%;

  .title {
    color: #05cf69 !important;
    margin: 2% !important;
  }

  .lock-container {
    display: flex;
    margin-bottom: 1%;
    align-items: flex-start;
    justify-content: center;

    .lock-container-text {
      margin-left: 2%;
      margin-bottom: 5%;
    }
  }
}

.iconContainer {
  margin: 5% 0;
}

.staking-success-button {
  margin-top: 5% !important;
}

.staking-error-button {
  margin-top: 5% !important;
  background-color: #31364b !important;
  border: 1px solid #6a7085 !important;
}

.chip {
  margin-right: 3% !important;
  color: white !important;
  background-color: #282c3e !important;
}

.chipSelected {
  margin-right: 3% !important;
  color: white !important;
  background-color: #15ac5b !important;
}

.whiteInput {
  input {
    color: rgba(255, 255, 255, 1) !important;
  }
  div {
    width: 95% !important;
    margin-left: 2% !important;
  }

  fieldset {
    border-color: white !important;
  }
}

.top-data-header {
  display: flex;
  margin-bottom: 2%;
}

.top-data-table {
  display: table;

  tr {
    align-content: center;
    justify-content: center;
  }
}
